<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
 
 	<select id="countArticle" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			tbl_board
 		<include refid="search"></include>
 	</select>
 	
    <select id="listAll" resultType="main.java.com.kokihoon.model.param.BoardVO">
		SELECT
			  article_no as articleNo
			, title
			, content
			, writer
			, regdate
			, viewcnt
		FROM
			  tbl_board
 		<choose>
 			<when test="searchOption == 'all'">
 				WHERE
 					 writer like '%' || #{keyword} || '%'
 				AND
 					content like '%' || #{keyword} || '%'
 				AND
 					title like '%' || #{keyword} || '%'
 			</when>
 			<otherwise>
 				WHERE
 					${searchOption} like '%' || #{keyword} || '%'
 			</otherwise>
		
 		</choose>
				AND
			  		del_chk = 'N' 	
		ORDER BY
			  articleNo desc
			, regdate desc

    </select>
 	
 	<insert id="insert">
 		INSERT INTO tbl_board (
 			  title
 			, content
 			, writer
 		) VALUES (
 		    #{title}
 		  , #{content}
 		  , #{writer}
 		)
 	</insert>
 	
 	<select id="view" resultType="main.java.com.kokihoon.model.param.BoardVO">
 		SELECT 
 			    article_no as articleNo
 			  , title
 			  , content
 			  , writer
 			  , regdate
 			  , viewcnt
 		FROM
 			  tbl_board
 		WHERE
 			  article_no = #{articleNo}
 	</select>
 	
 	<update id="update">
 		UPDATE 
 			  tbl_board
 		SET
 			  title = #{title}
 			, content = #{content}
 			, writer = #{writer}
 		WHERE
 			  article_no = #{articleNo} 
 	</update>
 	
 	<update id="delete">
 		UPDATE
 			  tbl_board 		
 		SET
 			del_chk = 'Y'
 		WHERE
 			  article_no = #{articleNo}
 	</update>
 	
 	<sql id="search">
 		<choose>
 			<when test="searchOption == 'all'">
 				WHERE
 					 writer like '%' || #{keyword} || '%'
 				OR
 					content like '%' || #{keyword} || '%'
 				OR
 					title like '%' || #{keyword} || '%'
 			</when>
 			<otherwise>
 				WHERE
 					${searchOption} like '%' || #{keyword} || '%'
 			</otherwise>
		
 		</choose>
				AND
			  		del_chk = 'N' 	
 	</sql>
</mapper>
