<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
  </th:block>

  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
  </th:block>

  <div layout:fragment="content">
    <form action="/user/register" method="post">
	  <p>
	    <label for="userId">ID : </label>	  
		<input id ="userId"type="text" name="userId" placeholder="아이디"/>
	  </p>
	  <p>
		<label for="userPw">PassWord : </label>
		<input id="userPw" type="password" name="userPw" placeholder="비밀번호"/>
	  </p>
	  <p>
		<label for="userPw">PassWord : </label>
		<input id="userPw" type="password" name="userPw" placeholder="비밀번호 확인"/>
	  </p>

	  <p>
	    <label for="userName">이름 : </label>	  
		<input id ="userName"type="text" name="userName" placeholder="이름"/>
	  </p>
	  <p>
	    <label for="userEmail">이메일 : </label>	  
		<input id ="userEmail"type="text" name="userEmail"placeholder="이메일"/>
	  </p>

	  <input type="submit"></input>
	</form>
  </div>
</html>