<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
  </th:block>

  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
  </th:block>

  <div layout:fragment="content">
  <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <!-- Main content -->
	    
<!-- 	    <form name="form1" method="post" action="/board/list">
	    	<select name="searchOption">
	    		<option value="all" th:if="${map.searchOption=='all'? 'selected' : ''}">전체</option>
	    		<option value="writer" th:if="${map.searchOption=='writer'? 'selected' : ''}" >이름</option>
	    		<option value="content" th:if="${map.searchOption=='content'? 'selected' : ''}" >내용</option>
	    		<option value="title" th:if="${map.searchOption=='title'? 'selected' : ''}" >제목</option>
	    	</select>
	    	<input name="keyword" value="">
	    	<input type="submit" value="검색">
	    </form> -->
	    <section class="content">
	      <div class="row">
	        <div class="col-xs-12">
	
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">게시판 목록</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <table id="example1" class="table table-bordered table-striped">
	                <thead>
	                <tr>
	                  <th>번호</th>
	                  <th>제목</th>
	                  <th>작성자</th>
	                  <th>작성일</th>
	                  <th>조회수</th>
	                </tr>
	                </thead>
	                <tbody>
	              		<tr th:each="boardVO : ${list}">
		                  <td th:text="${boardVO.articleNo}">BNO</td>
		                  <td><a th:href="@{/board/read(articleNo=${boardVO.articleNo})}" th:text="${boardVO.title}">TITLE</a></td>
		                  <td th:text="${boardVO.writer}">WRITER</td>
		                  <td th:text="${#dates.format(boardVO.regdate, 'yyyy-MM-dd HH:mm')}">REGDATE</td>
		                  <td th:text="${boardVO.viewcnt}">VIEWCNT</td>
		                </tr>
	                </tbody>
	
	              </table>
	              <button><a href="/board/write">등록</a></button>
	            </div>
	            <div th:replace="fragments/paging :: pagingFragment"></div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
	        <!-- /.col -->
	      </div>
	      <!-- /.row -->
	    </section>
	    <!-- /.content -->
	  </div>
	</div>
</html>