<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
  </th:block>

  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script"> 
	  <script type="text/javascript" th:inline="javascript">
		
	   	function goRead(articleNo) {
		  var frm = $("<form>");
		  frm.attr({
			id:"search",
			action:"/board/read",
		  });
	
		  frm.append($("<input>").attr({type : "hidden", name : "articleNo", value : articleNo}))
			 .append($("<input>").attr({type : "hidden", name : "optionSearch", value : [[${optionSearch}]]}))
			 .append($("<input>").attr({type : "hidden", name : "keyword", value : [[${keyword}]]}));
			 
		  $(document.body).append(frm);
		  frm.submit();
	   	}
	   	
	   	function goWrite() {
			  var frm = $("<form>");
			  frm.attr({
				id:"search",
				action:"/board/write",
			  });
		
			  frm.append($("<input>").attr({type : "hidden", name : "optionSearch", value : [[${optionSearch}]]}))
				 .append($("<input>").attr({type : "hidden", name : "keyword", value : [[${keyword}]]}));
			  
			  $(document.body).append(frm);
			  frm.submit();
	   	}
	
	  </script>
  </th:block>
  


  <div layout:fragment="content">
      <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <!-- Main content -->
	    <form method="post">
	      <div class="form-inline">
		    <select id="optionSearch" name="optionSearch">
			  <option th:selected="'' == ${optionSearch}">검색조건</option>
			  <option value="title" th:selected="'title' == ${optionSearch}">제목</option> 
			  <option value="content" th:selected="'content' == ${optionSearch}">내용</option>
			  <option value="writer" th:selected="'writer' == ${optionSearch}">작성자</option>
			  <option value="titleContent" th:selected="'titleContent' == ${optionSearch}">제목+내용</option>
			  <option value="all" th:selected="'all' == ${optionSearch}">전체조건</option>
		    </select>
		    <input class="form-control" type="text" id="keyword" name="keyword" required th:value="${keyword}"placeholder="검색어를 입력하세요"/>
		    <button type="submit" id="searchBtn" class="btn btn-primary">검색</button>
		  </div>
		</form>	    
	    <section class="content">
	      <div class="row">
	        <div class="col-xs-12">
	
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">게시판 목록</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <table id="example1" class="table table-bordered table-striped">
	                <thead>
	                <tr>
	                  <th>번호</th>
	                  <th>제목</th>
	                  <th>작성자</th>
	                  <th>작성일</th>
	                  <th>조회수</th>
	                </tr>
	                </thead>
	                <tbody>
	              		<tr th:each="boardVO : ${list}">
		                  <td th:text="${boardVO.articleNo}">BNO</td>
		                  <td>
		                  	<a th:href="|javascript:goRead(${boardVO.articleNo});|" th:text="${boardVO.title}">TITLE</a>
	   	                    <span class="badge bg-teal"><i class="fa fa-comment-o"></i> + [[${boardVO.replyCnt}]]</span>
		                  </td>
		                  <td th:text="${boardVO.writer}">WRITER</td>
		                  <td th:text="${#dates.format(boardVO.regdate, 'yyyy-MM-dd HH:mm')}">REGDATE</td>
		                  <td th:text="${boardVO.viewCnt}">VIEWCNT</td>
		                </tr>
	                </tbody>
	              </table>
	              
                  <div th:if="${session.userId}">
		            <button><a th:href="|javascript:goWrite();|">등록</a></button>
	              </div>
	            
	            </div>
	            <div th:replace="fragments/paging :: pagingFragment"></div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
	        <!-- /.col -->
	      </div>
	      <!-- /.row -->
	    </section>
	    <!-- /.content -->
	  </div>
	  
        <form id="search" method="POST">		
		  <input type="hidden" name="optionSearch" th:value="${ optionSearch }">
		  <input type="hidden" name="keyword" th:value="${ keyword }">
		</form>
	</div>
</html>